.advantages {
  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  // @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
  //   padding-top: 94px;
  //   padding-bottom: 94px;
  // }
}

.advantages__list {
  list-style: none;
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
  }

  //   margin-left: -30px;
}

.advantages__item {
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    flex-basis: calc(100% / 2 - 30px);
    flex-grow: 1;
    margin-top: 30px;
  }
  //   flex-basis: calc((100% - 30px) / 4);
  //   margin-left: 30px;
}

.advantages__item:nth-child(even) {
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    margin-left: 30px;
  }
}

.advantages__item + .advantages__item {
  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    margin-top: 30px;
  }
}

.advantages__img {
  display: flex;
  justify-content: center;
  align-items: center;
  //   width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $bg-light;
}

.advantages__title {
  font-size: 14px;
  color: $main-color-dark;
  text-transform: uppercase;
  //   line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 700;
  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    line-height: 1.17;
    text-align: center;
  }
}

.advantages__text {
  line-height: 1.8;
  color: $main-color-light;
}
