.advantages {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop-min) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages__list {
  list-style: none;
  margin-top: -30px;
  margin-left: -30px;

  @media screen and (min-width: $tablet-min) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  margin-top: 30px;
  margin-left: 30px;

  @media screen and (min-width: $tablet-min) {
    flex-basis: calc(100% / 2 - 30px);
    flex-grow: 1;
  }

  @media screen and (min-width: $desktop-min) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.advantages__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $bg-light;
}

.advantages__title {
  font-size: 14px;
  color: $main-color-dark;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  @media screen and (max-width: $tablet-min) {
    line-height: 1.17;
    text-align: center;
  }
}

.advantages__text {
  line-height: 1.8;
  color: $main-color-light;
}
