.command {
  background-color: $bg-light;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
  }
  //   padding-top: 94px;
  //   padding-bottom: 94px;
}

.command__title {
  text-align: center;
  //font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: $main-color-dark;
  font-size: 28px;
  margin-bottom: 30px;
  //margin-bottom: 50px;
  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
  }
}

.command__list {
  list-style: none;

  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
  }
}

.command__item:nth-child(even) {
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    margin-left: 30px;
  }
}

.command__item + .command__item {
  //  margin-left: 30px;
  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    margin-top: 30px;
  }
}

.command__item {
  //padding-bottom: 30px;
  background-color: $light-color;
  box-shadow: 0px 1px 3px rgba($dark-color, 0.12),
    0px 1px 1px rgba($dark-color, 0.14), 0px 2px 1px rgba($dark-color, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
  }
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    flex-basis: calc(100% / 2 - 30px);
    flex-grow: 1;
    margin-top: 30px;
  }
}

.command__img {
  display: block;
  width: 100%;
  height: auto;

  max-width: 100%;
}

.command__meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 30px 24px;
}

.command__subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  color: $main-color-dark;
  padding-top: 1px;
  margin-bottom: 10px;
}

.command__prop {
  font-size: 16px;
  line-height: 1.19;
  color: $main-color-light;
  margin-bottom: 16px;
}

.command__icons {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.command__icon + .command__icon {
  margin-left: 10px;
}

.command__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $customer-color;
  fill: currentColor;

  transition: color 250ms $transition-type,
    background-color 250ms $transition-type;

  &:is(:hover, :focus) {
    background-color: $main-accent-color;
    color: $light-color;
  }
}
