.customers {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop-min) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__header {
  text-align: center;

  font-weight: 700;
  line-height: 1.17;
  color: $main-color-dark;
  font-size: 28px;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop-min) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: -30px;
  margin-left: -30px;
}

.clients__item {
  height: 90px;
  flex-grow: 1;
  margin-top: 30px;
  margin-left: 30px;

  @media screen and (max-width: $tablet-min) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: $tablet-min) and (max-width: $desktop-min) {
    flex-basis: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: $desktop-min) {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  display: flex;
  height: inherit;
  justify-content: center;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: $customer-color;
  fill: currentColor;

  transition: color 250ms $transition-type;

  &:hover,
  &:focus {
    color: $main-accent-color;
  }
}
