.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bg-dark;
}

.footer--container {
  display: flex;

  @media screen  and (max-width: $tablet-min) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: $tablet-min) and (max-width: $desktop-min) {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop-min) {
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__address {
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: $desktop-min) {
    text-align: left;
  }
}

.address__list {
  list-style: none;
}

.address__item + .address__item {
  margin-top: 9px;
}

.address__link {
  font-style: normal;
  text-decoration: none;
  line-height: 1.5;
  color: $light-color;

  transition: color 250ms $transition-type;

  &:is(:hover, :focus) {
    color: $main-accent-color;
    opacity: 1;
  }
}

.address__link--opacity06 {
  opacity: 0.6;
}

.footer-enjoy {
  @media screen  and (max-width: $tablet-min) {
    margin-bottom: 60px;
  }
}

.footer-enjoy__title {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  color: $light-color;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: $desktop-min) {
    text-align: left;
  }
}

.footer-enjoy__list {
  display: flex;
  list-style: none;
}

.footer-enjoy__item + .footer-enjoy__item {
  margin-left: 10px;
}

.footer-enjoy__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba($light-color, 0.1);
  color: $light-color;
  fill: currentColor;

  transition: background-color 250ms $transition-type;

  &:is(:hover, :focus) {
    background-color: $main-accent-color;
  }
}

.footer-subscribe {
  width: 100%;
  @media screen and (min-width: $desktop-min) {
    width: inherit;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $desktop-min) {
    flex-direction: row;
  }
}

.subscribe-form__email {
  height: 50px;
  border: 1px solid rgba($light-color, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba($dark-color, 0.15);
  padding: 15px 16px;
  background-color: rgba($main-accent-color, 0);
  color: $light-color;
  font-size: 16px;

  &::placeholder {
    line-height: 1.25;
    color: rgba($light-color, 0.6);
  }
  @media screen  and (max-width: $tablet-min) {
    width: 100%;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $tablet-min) and (max-width: $desktop-min) {
    width: 450px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $desktop-min) {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: $light-color;
  background-color: $main-accent-color;
  padding: 10px 28px 10px 29px;
  box-shadow: 0px 4px 4px rgba($dark-color, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  fill: currentColor;
  cursor: pointer;
}

.subscribe-form__icon {
  margin-left: 10px;
}
