// #region HEADER
.header {
  position: relative;
  background-color: $light-color;
  border-bottom: 1px solid $border-color-light;
  margin: 0 auto;
}
.burger-menu__icon-open {
  .is-open & {
    display: none;
  }
}
.menu-btn {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
  color: $dark-color;
  fill: currentColor;
  transform: translateY(-50%);
  transition: color 250ms $transition-type;

  &:is(:hover, :focus) {
    color: $main-accent-color;
    cursor: pointer;
  }

  @media screen and (min-width: $tablet-min) {
    display: none;
  }
}

.menu {
  display: none;
  @media screen and (min-width: $tablet-min) {
    display: flex;
    align-items: center;
    flex-grow: 2;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop-min) {
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
  }
}

.header--container {
  display: flex;
  @media screen and (min-width: $desktop-min) {
    align-items: center;
  }
}
// #endregion

// #region NAVIGATION
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav-list__item + .nav-list__item {
  @media screen and (min-width: $tablet-min) {
    margin-left: 50px;
  }
}

.nav-list__link {
  display: inline-block;

  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.169;
  color: $main-color-dark;
  text-decoration: none;

  transition: color 250ms $transition-type;

  &:is(:hover, :focus) {
    color: $main-accent-color;
  }
  @media screen and (min-width: $tablet-min) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav-list__link--active {
  position: relative;
  color: $main-accent-color;
  @media screen and (min-width: $tablet-min) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
      height: 4px;
      width: 100%;
      border-radius: 2px;
      background-color: $main-accent-color;
    }
  }
}
// #endregion

// #region CONTACTS
.contacts {
  list-style: none;

  @media screen and (max-width: $tablet-min) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: $desktop-min) {
    display: flex;
    margin-left: auto;
  }
}

.contacts__item + .contacts__item {
  @media screen and (max-width: $tablet-min) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: $tablet-min) and (max-width: $desktop-min) {
    margin-top: 10px;
  }
  @media screen and (min-width: $desktop-min) {
    margin-left: 30px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: $main-color-light;
  fill: currentColor;

  transition: color 250ms $transition-type;

  &:is(:hover, :focus) {
    color: $main-accent-color;
  }

  @media screen and (min-width: $desktop-min) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__link--tel {
  @media screen and (max-width: $tablet-min) {
    font-size: 34px;
  }
}
.contacts__link--mail {
  @media screen and (max-width: $tablet-min) {
    font-size: 24px;
  }
}
.contacts__icon {
  margin-right: 10px;

  @media screen and (max-width: $tablet-min) {
    display: none;
  }
}

//#endregion
