// #region HEADER
.header {
  position: relative;
  background-color: $light-color;
  border-bottom: 1px solid $border-color-light;
  margin: 0 auto;
}

.burger-menu {
  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    position: absolute;
    top: 50%;
    right: 15px;
    display: block;
    width: 40px;
    height: 40px;
    border: 0;
    background-color: transparent;

    transform: translateY(-50%);
  }

  @media screen and (min-width: $tablet-min) {
    display: none;
  }
}

.burger-menu__icon-open {
}

.burger-menu__icon-close {
  opacity: 0;
  pointer-events: none;
}

.menu {
  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    display: flex;
    align-items: center;
    flex-grow: 2;
    justify-content: space-between;
  }
}

.header--container {
  display: flex;
  // align-items: center;
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    // justify-content: space-between;
  }
}
// #endregion

// #region NAVIGATION
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-list {
  width: 100%;
  display: flex;
  list-style: none;
}

.nav-list__item + .nav-list__item {
  margin-left: 50px;
  // margin-left: calc(((100% + 100px) / 294px) * 50px);
}

.nav-list__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.169;
  color: $main-color-dark;
  text-decoration: none;

  transition: color 250ms $transition-type;

  &:is(:hover, :focus) {
    color: $main-accent-color;
  }
}

.nav-list__link--active {
  position: relative;
  color: $main-accent-color;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $main-accent-color;
  }
}
// #endregion

// #region CONTACTS
.contacts {
  // display: flex;
  list-style: none;
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
  }
}

.contacts__item + .contacts__item {
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    margin-top: 10px;
  }
}

// .contacts__item + .contacts__item {
//   margin-left: 50px;
// }

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;

  // padding-top: 32px;
  // padding-bottom: 32px;
  text-decoration: none;
  color: $main-color-light;
  fill: currentColor;

  transition: color 250ms $transition-type;

  &:is(:hover, :focus) {
    color: $main-accent-color;
  }
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
  }
}

.contacts__icon {
  margin-right: 10px;
}
//#endregion
