.hero {
  height: 400px;
  background-color: $bg-dark;
  max-width: $mobile-max;
  min-width: $mobile-min;

  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    background: linear-gradient(rgba($bg-dark, 0.4), rgba($bg-dark, 0.4)),
      url("../images/mobile-hero.jpg") no-repeat center / cover;
  }
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    max-width: $tablet-max;
    min-width: $tablet-min;

    background: linear-gradient(rgba($bg-dark, 0.4), rgba($bg-dark, 0.4)),
      url("../images/tablet-hero.jpg") no-repeat center / cover;
  }
  @media screen and (min-width: $desktop-min) {
    height: 600px;
    max-width: $desktop-max;
    min-width: $desktop-min;
    margin: 0 auto;
    background: linear-gradient(rgba($bg-dark, 0.4), rgba($bg-dark, 0.4)),
      url("../images/hero.jpg") no-repeat center / cover;
  }
}

.hero--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.hero__title {
  font-weight: 900;

  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: $light-color;
  line-height: 1.615;

  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    font-size: 26px;
  }
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    font-size: 26px;
    line-height: 1.615;
  }

  @media screen and (min-width: $desktop-min) {
    font-size: 44px;
    line-height: 1.37;
  }
}

.hero__title--margin {
  margin-bottom: 30px;
}

.hero__button {
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  color: $light-color;
  background-color: $main-accent-color;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba($dark-color, 15%);

  &:is(:hover, :focus) {
    cursor: pointer;
  }
}
