.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black-color, 0.2);
  z-index: 100;

  transition: opacity 250ms $transition-type;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;

  padding: 40px;
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba($black-color, 0.12),
    0px 1px 1px rgba($black-color, 0.14), 0px 2px 1px rgba($black-color, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1, 1);
  transition: transform 250ms $transition-type 250ms;
}

.modal__close-btn {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: $bg-dark;
  background-color: $white-color;
  border: 1px solid rgba($black-color, 0.1);
  cursor: pointer;
  fill: currentColor;

  transition: color 250ms $transition-type, color 250ms $transition-type;

  &:is(:hover, :focus) {
    color: $main-color-blue;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.15;
  margin-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-size: 12px;
  line-height: 1.167;
  margin-bottom: 4px;
  color: $main-color-lightgrey;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  padding: 11px 12px;
  padding-left: 42px;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgba($main-color-darkgrey, 0.2);
  transition: border-color 250ms $transition-type;

  &:is(:hover, :focus) {
    border: 1px solid $main-color-blue;
    outline: $main-color-blue;
  }
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  color: $main-color-darkgrey;
  fill: currentColor;

  transition: color 250ms $transition-type;

  .modal__input:is(:hover, :focus) + & {
    color: $main-color-blue;
  }
}

.modal__comment {
  border: 1px solid rgba($main-color-darkgrey, 0.2);
  border-radius: 4px;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border 250ms $transition-type;

  &:is(:hover, :focus) {
    border: 1px solid $main-color-blue;
    outline: $main-color-blue;
  }
  &::placeholder {
    color: rgba($main-color-lightgrey, 0.5);
  }
}

.terms {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

// #region term check

.terms__check {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.icon-wrapper {
  margin-right: 7px;
  position: relative;
  width: 16px;
  height: 15px;
  box-sizing: content-box;
  fill: currentColor;
  color: $main-color-darkgrey;

  transition: color 250ms $transition-type;

  .terms__check:is(:hover, :focus) + & {
    color: $main-color-blue;
    cursor: pointer;
  }
}

.terms__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  transition: opacity 250ms $transition-type;
}

.terms__icon--unchecked {
  .terms__check:checked + .icon-wrapper & {
    opacity: 0;
    pointer-events: none;
  }
}
.terms__icon--checked {
  .terms__check:not(:checked) + .icon-wrapper & {
    opacity: 0;
    pointer-events: none;
  }
}

.terms__txt {
  color: $main-color-lightgrey;
  line-height: 1.53;

  user-select: none;
}

.terms__link {
  text-decoration: none;
  color: $main-color-blue;
}

.terms__link--underline {
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 0.85;
}

.terms__submit-btn {
  border: none;
  padding: 10px 55px;
  background-color: $main-color-blue;
  color: $white-color;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  border-radius: 4px;
  align-self: center;
  line-height: 1.875;
  box-shadow: 0px 4px 4px rgba($black-color, 0.15);
  transition: background-color 250ms $transition-type;

  &:is(:hover, :focus) {
    cursor: pointer;
    background-color: #188ce8;
  }
}
// #endregion
