// * {
//   outline: 1px solid red;
// }

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.container {
  min-width: 320px;
  max-width: $mobile-max;

  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: $tablet-min) {
    max-width: $tablet-min;
  }

  @media screen and (min-width: $desktop-min) {
    max-width: $desktop-container-w;
  }
}
