// * {
//   outline: 1px solid red;
// }

body {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.container {
  $gaps: 15px;
  padding-left: $gaps;
  padding-right: $gaps;
  margin: 0 auto;

  @media screen and (min-width: 320px) and (max-width: $mobile) {
    max-width: $mobile;
    min-width: 320px;
  }

  // @media screen and (min-width: $tablet) {
  // }

  // @media screen and (min-width: $desktop) {
  //   width: 1170px + $gaps * 2;
  // }
}
