// * {
//   outline: 1px solid red;
// }

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.container {
  $gaps: 15px;
  padding-left: $gaps;
  padding-right: $gaps;
  margin: 0 auto;

  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    max-width: $mobile-max;
    min-width: $mobile-min;
  }

  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    max-width: $tablet-max;
    min-width: $tablet-min;
  }

  @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
    max-width: $desktop-max;
    min-width: $desktop-min;
  }
}
