$main-accent-color: #2196f3;
$main-color-dark: #212121;
$main-color-light: #757575;
$light-color: #fff;
$dark-color: #000000;
$bg-dark: #2f303a;
$bg-light: #f5f4fa;
$border-color-light: #ececec;
$customer-color: #afb1b8;

$transition-type: cubic-bezier(0.4, 0, 0.2, 1);

$desktop-container-w: 1170px + 30px;
$mobile-max: 480px;
$tablet-min: 768px;
$desktop-min: $desktop-container-w;
$desktop-max: 1600px;
