$main-accent-color: #2196f3;
$main-color-dark: #212121;
$main-color-light: #757575;
$light-color: #fff;
$dark-color: #000000;
$bg-dark: #2f303a;
$bg-light: #f5f4fa;
$border-color-light: #ececec;
$customer-color: #afb1b8;

$transition-type: cubic-bezier(0.4, 0, 0.2, 1);

$mobile-min: 320px;
$mobile-max: 481px;
$tablet-min: 481px;
$tablet-max: 769px;
$desktop-min: 769px;
$desktop-max: 1600px;
